@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin small-device {
  @media (max-width: 479px) {
    @content;
  }
}

// color theory

$primary-green: #55af22;

// shadow

$white-box-shadow: 1px 1px 5px 1px #c0a2a2;

// animation

@mixin repel-animation($duration: 1s, $timing: ease-in-out, $delay: 0s) {
  animation: repel $duration $timing $delay infinite;
}

@keyframes repel {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
  0% {
    box-shadow: 0 0 1px 0.1px #7fec12;
  }
  100% {
    box-shadow: 0 0 1px 20px rgba(186, 241, 149, 0);
  }
}
