.home__container {
  margin-bottom: 1rem;
  .home__navbar {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
  }
  .home_hero_carousel {
    display: flex;
    justify-content: center;
  }

  .home__trending__products {
    h2 {
      margin-bottom: 1rem;
    }
  }
}
