.profile__admin_dashboard {
  position: absolute;
  right: 5px;
  top: 52.2px;
  background-color: #7a99db;
  max-width: 340px;
  width: 100%;
  display: grid;
  place-items: center;
  border-radius: 1px 3px 5px 8px;
  box-shadow: -2px 5px 10px 2px #a0a2a5;
  transition: all 0.3 ease-in-out;
  .pic {
    font-size: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 2px;
    margin-top: 3rem;
  }
  p {
    color: white;
    text-transform: capitalize;
    margin: 10px auto;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #aebdb6;
    background-color: white;

    button {
      padding: 0.5rem 0.7rem;
      border-radius: 3px;
      border: 1px solid #aebdb6;
      cursor: pointer;
    }
  }
}
